@font-face {
    font-family: "olly";
    src: url('../fonts/Poppins-Regular.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 100%;
}
body{
     
    font-family: 'olly';
    background-color: #FBEAFF;
}
header{
    position: relative;
    z-index: 2;
    background-color: #383839;
    color: #FBEAFF;
    text-transform: uppercase;
}
.header-inner{
    width: 80%;
    margin: 0 auto;
    padding: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
color: #fff;
cursor: default;
}
.bars{
    font-size:2.5rem ;
    color: #fff;
    display: none;
    cursor: pointer;
    transition: color 0.6s ease;
}
.bars:hover{
    color: #A4CFC6;
}
.nav-link{
    margin-left:30px;
    color: #fff;
    text-decoration: none;
    transition: color 0.6s ease;
}
.nav-link:hover{
    color:#A4CFC6 ;
}
.mobile-menu{
    position: absolute;
    top: 0;
    left: -100%;
    width:100%;
    height: 100%;
    z-index: 1;
    background-color: #C975D3;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    pointer-events: none;
}
.mobile-menu{
    a{
        font-size: 1.5em;
        text-transform: uppercase;
    }
}
span{
    position:relative;
     
    pointer-events: none;
    transition: 0.4s;
}
.nav-menu{
    i{
        margin: 0 px ;
        transition: 0.4s;
    }
}
.hero{
    width: 100%;
    height: 100vh;
    // background: linear-gradient(rgba(0,0,0,0.5), url('../images/bg.jpeg'));
    // background:url('../images/bg.jpeg') center no-repeat;
    background-size:cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 0;
}
.hero::before {    
    content: "";
    background-image: url('../images/bg.jpeg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}
// .hero:before{
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     width:inherit;
//     height: inherit;
//     background-color: #894D57;
//     z-index:  -1;
// }
.container{
    width: 80%;
    margin: 0 auto;
    height: 90vh;
    color: #fff;
}
h2 {
    position: relative;
    color: hsl(0, 0%, 100%);  
    font-size: 10rem;
    line-height: 1.3;
    text-align: center;
    z-index: 2222;
  }
  h2{
      .nice{
          color: #894D57;
      }
  }

       
 @media screen and (max-width:768px) {
    .bars{
        display: block;
    }
    .nav-menu{
        display: none;
    }
    h2 {
        position: relative;
        color: hsl(0, 0%, 100%);  
        font-size: 5.6rem;
        line-height: 1.3;
        text-align: center;
        z-index: 2222;
      }
    .active{
        left: 0;
        opacity: 1;
        pointer-events: auto;
        transition: left 0.6s ease-in-out;
    }
    .nav-link{
        font-size: 1.5rem;
        margin: 30px 0;
    }
}
 